	<hr style="margin-bottom: -25px; margin-top: 100px;">
<footer id="footer" style="background-color:#202021;" class="footer" >

<div  class="main-footer widgets-dark typo-light">
<div  class="container">
<div class="row" >
  
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="widget subscribe no-box">
<center><h5 class="widget-title"><h2 style="margin-bottom: -1px;"><a class="navbar-brand" href="/" style=" margin-left: -20px;" id="logo" ><span style=" color: #f69323;">Mobi</span><span style="color: #fff;">hub</span>  </a></h2></center>
<span></span></h5>
</div>
</div>


<div  class="col-xs-12 col-sm-6 col-md-4 mt-3">
<div class="widget no-box">
<center><a href="/login"><h5 class="widget-title" style="color: #f69323;">Get Started<span></span></h5></a></center>
<center><p style="color: #ffff">Login To The Website And Start Shopping!!!!</p></center>
</div>
</div>

<div class="col-sm-6 col-md-4">

<div class="widget no-box">
<center><h5 class="widget-title" style="color:#f69323;">Contact Us<span></span></h5></center>

<center><p><a style="color: #ffff;" href="mailto:adarshvillasuni@gmail.com" title="glorythemes">adarshvillasuni@gmail.com</a></p></center>
</div>
</div>

</div>
</div>
</div>
  
<div  class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<center><p style="color: #ffff;">Copyright ©2020 All rights reserved . Website Designed by Adarsh Software Solutions</p></center>
</div>
</div>
</div>
</div>
</footer>
