<!doctype html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/favicon0012.png?v=17101946069676334379" type="image/png" />
    <title>
    About us &ndash; Phono
  </title>
<meta property="og:site_name" c>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#ffffff">
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/frame.scssec39.css?v=17852677270710569768" rel="stylesheet" type="text/css" media="all" />  
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/style8905.css?v=5045170032217786360" rel="stylesheet" type="text/css" media="all" />  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rajdhani:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Work+Sans:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
</head>

<body id="about-us" class="template-page" >
  
  <div id="PageContainer"></div>   
  <div class="quick-view"></div>   
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left " id="cbp-spmenu-s1">
    <div class="gf-menu-device-wrapper">
      <div class="close-menu">x</div>
      <div class="gf-menu-device-container"></div>
    </div>             
  </nav>


  
  <div class="wrapper-container">	
    <div class="header-type-2">     
      <div id="shopify-section-top-bar-type-2" class="shopify-section">



</div> 

      <div id="SearchDrawer" class="search-bar drawer drawer--top search-bar-type-2">
  <div class="search-bar__table">
    <form action="https://phono-demo.myshopify.com/search" method="get" class="search-bar__table-cell search-bar__form" role="search">
      <input type="hidden" name="type" value="product">  
      <div class="search-bar__table">
        <div class="search-bar__table-cell search-bar__icon-cell">
          <button type="submit" class="search-bar__icon-button search-bar__submit">
            <span class="fas fa-search" aria-hidden="true"></span>
          </button>
        </div>
        <div class="search-bar__table-cell">
          <input type="hidden" name="type" value="product">  
          <input type="search" id="SearchInput" name="q" value="" placeholder="Search..." aria-label="Search..." class="search-bar__input">
        </div>
      </div>
    </form>
    <div class="search-bar__table-cell text-right">
      <button type="button" class="search-bar__icon-button search-bar__close js-drawer-close">
        <span class="fas fa-times" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>



    </div>
  </div>
  
  
  <main style="margin-top: 80px;" class="main-content">  

    


  


    
      
      
      <div class="grid-uniform">
        <div class="grid__item"> 
          
            <div class="grid">
  <div class="grid__item">	
      <div id="shopify-section-about-us" class="shopify-section"><div data-section-id="about-us"  data-section-type="About section" class="about-us">
  
  
  
  
 
  <div class="grid-uniform section-two" style=" background-image:url(../../cdn.shopify.com/s/files/1/0104/6917/9492/files/bg-2_072223b8-5ba3-4f18-8ec3-4d3aa215216f_1920Xafbd.jpg?v=1554986919); ">
    <div class="container">
      
      <div class="main-heading">
        
        <h2>  what we do</h2>
        
        
        <h5  style="color: #f69323;">  We sell value products for your money</h5>
         
      </div>
      <div class="invisible-small"></div>
      
      <div class="grid__item">
        <div style="margin-left: 150px;" class="grid__item wide--one-third post-large--one-third large--one-third medium--one-whole small--grid__item">
          <div class="text-block">
            <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/phone_400Xc842.png?v=1560436285" alt="" title="" /> 

          </div>            
        </div>
       
        <div class="grid__item wide--one-third post-large--one-third large--one-third medium--one-whole small--grid__item">
         

                    <div class="right-list" style="margin-left: 70px;">
            
            <li>We sell products through online</li>
              
            
            <li>24 X 7 Customer Support</li>
                      
            
            <li>Customers first</li>
                          
            
            <li>secure payments</li>
                       
            
            <li>Amazing Discounts</li>
                     
            
            <li>Free delivery on your first order</li>
                  
            
            
          </div>

        </div> 
          
      </div>  
    </div>
  </div>
   
  
  
 
  <div class="grid-uniform block3">
    <div class="container">
       
      <div class="grid__item block3-column-1 wide--one-half post-large--one-half large--one-whole medium--one-half small-grid__item wow fadeInUp"  data-wow-delay="ms">
        <div class="support_thumb">     
           
          <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/img-2_f26414bf-0f81-4bb0-9aaf-8c1d11269416_700x7002d09.jpg?v=1554985204" />
          
        </div>
      </div>
       
      <div class="grid__item block3-column-2 wide--one-half post-large--one-half large--one-whole medium--one-half small-grid__item wow fadeInUp"  data-wow-delay="ms">
        <div class="content_block"> 
                  
          <div class="content_section">                      
           
            <div class="support_thumb">   
                
              <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/icon-1_e2089fc3-6862-42f7-a24b-f23af5b98bce_300x300d741.png?v=1554986472" />
              
            </div>
             
            <div class="support_text"> 
                
                <h3 style="color:#ffffff;">Secure payment</h3>
               
                
              <p style="color:#ffffff;" class="desc">
<br>
 Your payments and your user details are very secure</p>
               
            </div>      
          </div>    
                  
        </div>
      </div>
      <div class="grid__item block3-column-3 wide--one-half post-large--one-half large--one-whole medium--one-half small-grid__item wow fadeInUp"  data-wow-delay="ms">
        <div class="content_block"> 
                  
          <div class="content_section">                      
            
            <div class="support_thumb">        
                
              <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/icon-2_39f68783-2f2b-4454-a600-171d25192035_300x3006f25.png?v=1554986618" />
                
            </div>
             
            <div class="support_text"> 
                
                <h3 style="color:#ffffff;">30 days replacement policy</h3>
               
                
              <p style="color:#ffffff;" class="desc">
<br>
 Got a damaged product . Dont worry we will replace it within 30 Days</p>
               
            </div>      
          </div>    
                  
        </div>
      </div>
      
      <div class="grid__item block3-column-4 wide--one-half post-large--one-half large--one-whole medium--one-half small-grid__item wow fadeInUp"  data-wow-delay="ms">
        <div class="support_thumb"> 
                          

          <img src="../../cdn.shopify.com/s/files/1/0104/6917/9492/files/img-3_3283081c-032d-46c0-aa73-c47bd2e44332_700x70045b9.jpg?v=1554985218" />
            
        </div>
      </div>
      
    </div>
  </div>
    
  



  
  <div class="grid-uniform client-section">
    <div class="container">
      <div class="grid__item">
        
        <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item  "> 
          
          <div class="client-img">
            
            <img src="../images/realme-logo.webp" alt="" />
            
          </div>
        </div>
         

        
        <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item  "> 
          <div class="client-img">
                      

              <img style="height: 160px; width: 160px; "  src="../images/applee.jpg" alt="" />
             
          </div>
        </div>
         
        
        <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item  "> 
          <div class="client-img">
                      

              <img src="../images/download.png" alt="" />
            
          </div>
        </div>
        
        
        <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item  "> 
          
          <div class="client-img">
            
            <img style="margin-top:20px ;" src="../images/downloa.png" alt="" />
             
          </div>
        </div>
         
      </div>
    </div>
  </div>
   
</div>




<style>


  
  .about-us .block5 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../cdn.shopify.com/s/files/1/0104/6917/9492/files/about-bg6dc0.jpg?v=1560436232);
    float:left;
    width:100%;
  }
  

  .about-us .block5 .support_icon { color: #000000;}

  .about-us .block5 .border-title .sep{background:#eb0028;}

  .about-us .main-heading h5{color:#eb0028;}

  .about-us .section-two .main-heading h2 , .about-us .section-two  h4 , .about-us .section-two li{color:#ffffff;}

  .about-us .section-two p{color:#999999;}

  .about-us .right-list li::after{color:#999999;}

  .about-us .block3-column-2 {background:#333333;}

  .about-us .block3-column-2:hover {background:#eb0028;}

  .about-us  .block3-column-3 {background:#333333;}

  .about-us  .block3-column-3:hover {background:#eb0028;}

  .about-us .section-six{background: #eb0028;}

  .about-us .section-six .main-heading h2 , .about-us .section-six .main-heading h6,.about-us .testimonial-section  blockquote,.about-us .testimonial-author h5,.about-us .testimonial-author h6{color:#ffffff;}

  


.about-us .grid-uniform.block5 {float: left;width: 100%;padding: 5% 0;}

.about-us .grid-uniform.block5 {float: left;width: 100%;}

.about-us .block5 .content_block li {margin-bottom: 25px;padding-left: 30px;position: relative;}

.about-us  .block5 .content_block {float: left;width: 100%;}

.about-us .block5 .border-title {text-align: left;position: relative;margin-bottom: 40px;}

.about-us .block5 .border-title .sep {display: inline-block;height: 2px;width: 100px;}

.about-us .block5 .content_block .support_icon {left: 0;position: absolute;top: 0;}

.about-us ul{list-style-type:none;padding:0;}

.about-us .section-two .main-heading {text-align: center;float: left;width: 100%;margin-bottom: 30px;}


.about-us .invisible-small {float: left;margin: 15px 0;width: 100%;}

.about-us .section-two h4 {font-size: 18px;margin-bottom: 20px;}

.about-us .section-two .center-img {text-align: center;padding:0 10px;}

.about-us .center-img img {display: inline-block;padding:0 30px}

.about-us .right-list li {font-size: 16px;margin-bottom: 0;padding-bottom: 20px;padding-left: 30px;position: relative;text-transform: uppercase;}

.about-us .right-list li::after {content: "\f058";font-family: "Font Awesome 5 Free";font-weight:bold; left: 0;position: absolute;}

.about-us  .block3 .post-large--one-half{ margin-right: 0; width: 50%;}

.about-us  .block3-column-2, .about-us  .block3-column-3{   padding:130px 40px 116px;text-align: center;transition: all 0.3s linear 0s;} 

.about-us  .block3 .content_section .support_thumb {margin-bottom: 25px;}

.about-us .grid-uniform.block3 {padding: 5% 0;float:left;width:100%;}

.about-us  .block3 .content_section .support_thumb img {display: inline-block;}

.about-us img {display: block;}

.about-us .main-heading {float: left;text-align: center;width: 100%;margin-bottom: 40px;}

.about-us .testimonial-section {text-align: center;position: relative;}

.about-us blockquote {margin: 0 0 70px;padding: 0 50px;}

.about-us .testimonial-author img {border-radius: 50%;display: inline-block;margin-bottom:15px;}

.about-us .testimonial-author h5 {font-weight: bold;margin-bottom: 5px;}

.about-us .client-img {float: left;width: 100%;text-align: center;}

.about-us .main-heading  h6{margin-bottom:0;}

.about-us .main-heading  h2{margin-bottom:5px;}

.about-us .client-img img {display: inline-block;padding:0 10px;}

.about-us h3 {font-size: 23px;}

.about-us .section-two {background-repeat: no-repeat;background-size: cover;float: left;padding: 5% 2%;width: 100%;}

.about-us .section-six{float: left;padding: 5% 0;width: 100%;}

.about-us .client-section {float: left;padding: 5% 0;width: 100%;}

.about-us .border-title h2{margin-bottom:5px;}

.about-us .border-title h6 {margin-bottom: 0;}

.about-us .testimonial-author span h5 , .about-us .testimonial-author span h6 {text-transform: capitalize;}

.about-us .block3 .post-large--one-half {display: flex;margin-right: 0;width: 50%;}

.about-us .block3 .container {display: flex;flex-wrap: wrap;}


/* RESPONSIVE */




/*** min-width 768px : to : max-width 1023px ***/

@media only screen and (min-width:768px) and (max-width:1023px) {


.about-us .right-list li{padding-left: 20px;font-size: 12px;}

.about-us .block3 .post-large--one-half{width:100%;}

.about-us .block3-column-2, .about-us .block3-column-3{padding: 80px 40px 65px;}

}


/*** min-width 320px : to : max-width 767px ***/

@media only screen and (min-width:320px) and (max-width:767px) {

.about-us .block3 .post-large--one-half   , .about-us .post-large--one-half{width:100%;}

.about-us .section-two .center-img{padding: 30px;}

.about-us .center-img img {display: block;padding:0 10px;}

.about-us .right-list li{font-size:14px;}

.about-us blockquote{padding: 0 40px;}

.about-us q{font-size: 14px;}


.about-us .block3-column-2, .about-us .block3-column-3{padding: 60px 40px;}

}

/*** min-width 1024px : to : max-width 1199px ***/

@media only screen and (min-width:1024px) and (max-width:1199px) {

.about-us .block3-column-2, .about-us .block3-column-3 {padding: 60px 40px 60px;}



@media only screen and (min-width:800px) and (max-width:1280px) {



}







</style>


























</div>
  </div>
</div>	
           
        </div>
      </div>
      
      
    
  </main>


  
</body>

</html>


