

<head>

  <meta charset="utf-8">

  
  <link rel="shortcut icon" href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/favicon0012.png?v=17101946069676334379" type="image/png" />
  

  
  <!-- Social meta ================================================== -->
  


  
  <meta property="og:image" content="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/logodea7.png?v=16701608685471921277">
  <meta property="og:image:secure_url" content="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/logodea7.png?v=16701608685471921277">
  


<meta property="og:site_name" content="Phono">



<meta name="twitter:card" content="summary">





  <!-- Helpers ================================================== -->
  <link rel="canonical" href="contact-us.html">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#ffffff">

  <!-- CSS ================================================== -->
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/frame.scssec39.css?v=17852677270710569768" rel="stylesheet" type="text/css" media="all" />  
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/style8905.css?v=5045170032217786360" rel="stylesheet" type="text/css" media="all" />  
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick-theme5606.css?v=9913182463018565908" rel="stylesheet" type="text/css" media="all" />
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick.scss75ae.css?v=16537647626574767879" rel="stylesheet" type="text/css" media="all" />
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick-slidere60c.css?v=15306499933921296439" rel="stylesheet" type="text/css" media="all" />

  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/animatea14e.css?v=17046942425478865338" rel="stylesheet" type="text/css" media="all" />
  <link href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/font-all.min373a.css?v=15722457319706631789" rel="stylesheet" type="text/css" media="all" />

  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rajdhani:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Work+Sans:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  


</head>

<body id="contact-us" class="template-page" >
  
  <div id="PageContainer"></div>   
  <div class="quick-view"></div>   
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left " id="cbp-spmenu-s1">
    <div class="gf-menu-device-wrapper">
      <div class="close-menu">x</div>
      <div class="gf-menu-device-container"></div>
    </div>             
  </nav>


  
  
  <main class="main-content">  

    

<nav class="breadcrumb" aria-label="breadcrumbs">


  
  <h1>Contact us</h1>
  <a href="../index.html" title="Back to the frontpage">Home</a>

  <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
  <span>Contact us</span>

  
</nav>
  


    
      
      
      <div class="grid-uniform">
        <div class="grid__item"> 
          
            

<div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.848207303484!2d76.46966301419255!3d10.66888789239455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba80b6c31ca7653%3A0x6720a049559e2c11!2sAdarsh%20villa!5e0!3m2!1sen!2sin!4v1605690908056!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>


        
<div class="contact-address">
  <div class="wrapper">
    <div class="dt-sc-hr-invisible-large"></div>

    <div class="grid__item">
      
      <ul>
        <li class="grid__item wide--one-third post-large--one-third large--one-third">
          <div class="icon">
            <i class="fas fa-phone"></i>
          </div>
           
          <h4>Talk to us</h4>
          <p>  <b>Toll-Free: </b><a href="tel:6282340803">6282340803</a> <br></p><mark></mark> 
          
        </li>
        <li class="grid__item wide--one-third post-large--one-third large--one-third">
          
          <div class="icon">
            <i class="far fa-envelope"></i>
          </div>
          <h4>Contact Us</h4>
          <p> 
            <a title="" href="mailto:adarshvillasuni@gmail.com">adarshvillasuni@gmail.com</a><br>
          </p> 
          
        </li>
         
        <li class="address grid__item wide--one-third post-large--one-third large--one-third"> 
          <div class="icon">
            <i class="fas fa-location-arrow"></i>
          </div> 
          <h4>Location</h4>
          <p>Mobihub , Tarur ,  Palakkad<br /> Kerala , 678544<br /></p><mark></mark> 

        </li>
        
      </ul>



      
    </div>



  </div>
</div>

	
           
        </div>
      </div>
      
      
    
    
  </main>


  
  



  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/timbera6ab.js?v=17498282778827070966" type="text/javascript"></script>  
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/footer5d7f.js?v=97396426770645426" type="text/javascript"></script>  
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/theme10bd.js?v=18326697871268545370" type="text/javascript"></script>
  <script src="../../cdn.shopify.com/shopifycloud/shopify/assets/themes_support/option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js" type="text/javascript"></script>
  <script src="../../cdn.shopify.com/shopifycloud/shopify/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js" type="text/javascript"></script>    
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/shopd775.js?v=12714818639140570596" type="text/javascript"></script>    

  



  <!-- Begin quick-view-template -->
<div class="clearfix" id="quickview-template" style="display:none">
  <div class="overlay"></div>
  <div class="content clearfix">
    <div class="product-img images">
      <div class="quickview-featured-image product-photo-container"></div>
      <div class="more-view-wrapper">
        <ul class="product-photo-thumbs quickview-more-views-owlslider owl-carousel owl-theme">
        </ul>
        <div class="quick-view-carousel"></div>
      </div>
    </div>
    <div class="product-shop summary">
      <div class="product-item product-detail-section">
        <h3 class="product-title"><a>&nbsp;</a></h3>
        
        <p class="item-text product-description"></p>
        
        <div class="prices product_price">
          <label>Effective Price :</label>
          <span class="price h2" id="QProductPrice"></span>
          <span class="compare-price" id="QComparePrice"></span>
        </div>
        
        <div class="product-infor">
          <p class="product-inventory"><label>Availability :</label><span></span></p>    
        </div>
        
        <div class="details clearfix">
          <form action="https://phono-demo.myshopify.com/cart/add" method="post" class="variants">
            <select name='id' style="display:none"></select>
            <div class="qty-section quantity-box">
              <label>Quantity :</label>
              <div class="dec button qtyminus">-</div>
              <input type="number" name="quantity" id="Qty" value="1" class="quantity">
              <div class="inc button qtyplus">+</div>
            </div>
            
            
            <div class="total-price">
              <label>Subtotal :</label><span class="h5"></span>
            </div>
                        
            <div class="actions">
                <button type="button" class="add-to-cart-btn btn">
                  Add to Cart
                </button>
              </div>
          </form>
        </div>     
      </div>
    </div>  
 <a href="javascript:void(0)" class="close-window"></a> 
  </div>
 
</div>
<!-- End of quick-view-template -->
<script type="text/javascript">  
  Shopify.doNotTriggerClickOnThumb = false; 
                                       
  var selectCallbackQuickview = function(variant, selector) {
      var productItem = jQuery('.quick-view .product-item');
          addToCart = productItem.find('.add-to-cart-btn'),
          productPrice = productItem.find('.price'),
          comparePrice = productItem.find('.compare-price'),
          totalPrice = productItem.find('.total-price span'),
          inventory = productItem.find('.product-inventory');
      if (variant) {
        if (variant.available) {          
          // We have a valid product variant, so enable the submit button
          addToCart.removeClass('disabled').removeAttr('disabled').text('Add to Cart');         
    
        } else {
          // Variant is sold out, disable the submit button
          addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');         
        }
    
        // Regardless of stock, update the product price
        productPrice.html(Shopify.formatMoney(variant.price, "<span class=money>${{amount}}</span>"));
    
        // Also update and show the product's compare price if necessary
        if ( variant.compare_at_price > variant.price ) {
          comparePrice
            .html(Shopify.formatMoney(variant.compare_at_price, "<span class=money>${{amount}}</span>"))
            .show();
          productPrice.addClass('on-sale');
        } else {
          comparePrice.hide();
          productPrice.removeClass('on-sale');
        }
    
       
    
     //update variant inventory
     
     var inventoryInfo = productItem.find('.product-inventory span');
          if (variant.available) {
            if (variant.inventory_management !=null ) {
              inventoryInfo.text(window.in_stock );
              inventoryInfo.addClass('items-count');
              inventoryInfo.removeClass('many-in-stock');
              inventoryInfo.removeClass('out-of-stock');
              inventoryInfo.removeClass('unavailable');
            } else {
              inventoryInfo.text(window.many_in_stock);
              inventoryInfo.addClass('many-in-stock')
              inventoryInfo.removeClass('items-count');
              inventoryInfo.removeClass('out-of-stock');
              inventoryInfo.removeClass('unavailable');
            }
          } else {
            inventoryInfo.addClass('out-of-stock')
            inventoryInfo.text(window.out_of_stock);
            inventoryInfo.removeClass('items-count');
            inventoryInfo.removeClass('many-in-stock');
            inventoryInfo.removeClass('unavailable');
          }
     
    
    
    /*recaculate total price*/
        //try pattern one before pattern 2
        var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
        var unitPriceTextMatch = jQuery('.quick-view .price').text().match(regex);

        if (!unitPriceTextMatch) {
          regex = /([0-9]+[.|,][0-9]+)/g;
          unitPriceTextMatch = jQuery('.quick-view .price').text().match(regex);     
        }

        if (unitPriceTextMatch) {
          var unitPriceText = unitPriceTextMatch[0];     
          var unitPrice = unitPriceText.replace(/[.|,]/g,'');
          var quantity = parseInt(jQuery('.quick-view input[name=quantity]').val());
          var totalPrice = unitPrice * quantity;

          var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);
          regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;     
          if (!totalPriceText.match(regex)) {
            regex = /([0-9]+[.|,][0-9]+)/g;
          } 
          totalPriceText = totalPriceText.match(regex)[0];

          var regInput = new RegExp(unitPriceText, "g"); 
          var totalPriceHtml = jQuery('.quick-view .price').html().replace(regInput ,totalPriceText);
          jQuery('.quick-view .total-price span').html(totalPriceHtml);             
        }
    /*end of price calculation*/
    
    
    
        Currency.convertAll('USD', jQuery('#currencies').val(), 'span.money', 'money_format');
        
                            
        /*begin variant image*/
     /*begin variant image*/
        if (variant && variant.featured_image) {
            var originalImage = jQuery(".quick-view .quickview-featured-image img");
            var newImage = variant.featured_image;
            var element = originalImage[0];
            Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
              newImageSizedSrc = newImageSizedSrc.replace(/\?(.*)/,"");
              jQuery('.quick-view .more-view-wrapper img').each(function() {
                var grandSize = jQuery(this).attr('src');
                grandSize = grandSize.replace('medium','grande');
               
                if (grandSize == newImageSizedSrc) {
                  jQuery(this).parent().trigger('click');              
                  return false;
                }
              });
            });        
        }
        /*end of variant image*/   
        /*end of variant image*/ 
      } else {
        // The variant doesn't exist. Just a safegaurd for errors, but disable the submit button anyway
        addToCart.text('Unavailable').addClass('disabled').attr('disabled', 'disabled');
       
           
          var inventoryInfo = productItem.find('.product-inventory span');
          inventoryInfo.addClass("unavailable");
          inventoryInfo.removeClass("many-in-stock");
          inventoryInfo.removeClass("items-count");
          inventoryInfo.removeClass("out-of-stock");
          inventoryInfo.text(window.unavailable);
          
      }   
  };  
  
  </script>

  <div class="loading-modal compare_modal">Loading</div>
<div class="ajax-success-compare-modal compare_modal" id="moda-compare" tabindex="-1" role="dialog" style="display:none">
  <div class="overlay"> </div>
    <div class="modal-dialog modal-lg">
      <div class="modal-content content" id="compare-modal">
        <div class="modal-header">

          <h4 class="modal-title">Compare Products</h4>
        </div>
        <div class="modal-body">
          <div class="table-wrapper">
            <table class="table table-hover">
              <thead>
                <tr class="th-compare">
                  <th></th>
                </tr>
              </thead>
              <tbody id="table-compare">

              </tbody>

            </table>
           </div>
        </div>
        <div class="modal-footer">
           <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
        </div>         
      </div>
    </div>
  </div>

 
  <div class="loading-modal modal">Loading</div> 

<div class="newsletter-success-modal">
  <div class="modal-overlay"></div>
  <div class="ajax-modal-content">
    <a class="close close-window btn" title="Close (Esc)">
       <i class="fa fa-times"></i>
    </a>
      <i class="fa fa-check" aria-hidden="true"></i>
      <span>Thank you for signing up!</span>
    </div>
</div>    

<div class="ajax-error-modal modal">
  <div class="modal-inner">
    <div class="ajax-error-title">Error</div>
    <div class="ajax-error-message"></div>
  </div>
</div>
<div class="ajax-success-modal modal">
  	<div class="overlay"></div>
	<div class="content"> 
      
      
      <div class="ajax-left">    
        <p class="added-to-cart info">Product successfully added to your shopping cart</p>
      <p class="added-to-wishlist info">translation missing: en.products.wishlist.added_to_wishlist</p>
      <img class="ajax-product-image" alt="modal window" src="../index.html" />
       <div class="ajax-cart-desc">
        <h3 class="ajax-product-title"></h3>
        <span class="ajax_price"></span>
        <p>Qty:&nbsp;<span class="ajax_qty"></span></p>
        </div>
      </div>
      <div class="ajax-right"> 
        
        <p>There are <span class="ajax_cartCount"></span>&nbsp;item(s) in your cart</p>
        <span class="ajax_cartTotal"></span>
          <button class="btn continue-shopping" onclick="javascript:void(0)">Continue shopping</button>
        <div class="success-message added-to-cart"><a href="../cart.html" class="btn"><i class="fas fa-shopping-cart"></i>View Cart</a> </div>  
      <!--  <div class="success-message added-to-wishlist"> <a href="/pages/wishlist" class="btn"><i class="fa fa-heart"></i>View Wishlist</a></div>                -->
      </div>
    <a href="javascript:void(0)" class="close-modal"><i class="far fa-times-circle"></i></a>
 	</div>    
</div>
  
<script src="../../cdn.shopify.com/s/javascripts/currencies.js" type="text/javascript"></script>
<script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/jquery.currencies.minb15e.js?v=17505776077200662322" type="text/javascript"></script>

<script>      
// Pick your format here:  
// Can be 'money_format' or 'money_with_currency_format'
Currency.format = 'money_format';
var shopCurrency = 'USD';

/* Sometimes merchants change their shop currency, let's tell our JavaScript file */
Currency.moneyFormats[shopCurrency].money_with_currency_format = "${{amount}} USD";
Currency.moneyFormats[shopCurrency].money_format = "${{amount}}";

var cookieCurrency = Currency.cookie.read();

// Fix for customer account pages 
jQuery('span.money span.money').each(function() {
	jQuery(this).parent('span.money').removeClass('money');
});

// Add precalculated shop currency to data attribute 
jQuery('span.money').each(function() {
	jQuery(this).attr('data-currency-USD', jQuery(this).html());
});

// Select all your currencies buttons.
var currencySwitcher = jQuery('#currencies');

// When the page loads.
if (cookieCurrency == null || cookieCurrency == shopCurrency) {
	Currency.currentCurrency = shopCurrency;
}
else {
	Currency.currentCurrency = cookieCurrency;
    currencySwitcher.val(cookieCurrency);    
    Currency.convertAll(shopCurrency, cookieCurrency);	
}
//currencySwitcher.selectize();
jQuery('.selectize-input input').attr('disabled','disabled');

// When customer clicks on a currency switcher.
currencySwitcher.change(function() {
  	var newCurrency =  jQuery(this).val();
    Currency.cookie.write(newCurrency);
    Currency.convertAll(Currency.currentCurrency, newCurrency);	
    //show modal
    jQuery("#currencies-modal span").text(newCurrency);
  	if (jQuery("#cart-currency").length >0) {
      jQuery("#cart-currency").text(newCurrency);
  	}
    jQuery("#currencies-modal").fadeIn(500).delay(3000).fadeOut(500);    
});

// For product options.
var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
	original_selectCallback(variant, selector);
	Currency.convertAll(shopCurrency, jQuery('#currencies').val());
};
</script>

  
<div class="newsletterwrapper" data-newsletter id="email-modal">
  <div class="modal-overlay">
    <div class="window-content">
     <div class="grid__item  wide--five-tenths post-large--five-tenths large--five-tenths">
      <a class="close btn close-window" title="Close (Esc)">
        Liquid error: Could not find asset snippets/icon-close.liquid
      </a>
      <div class="newsletter-title">
        <h4 class="title">Get to know the latest offers</h4>
      </div>
      <p class="message">Subscribe and get notified at first on the latest update and offers!</p>
      <div id="mailchimp-email-subscibe">
        <div id="mc_embed_signup">
          
<form method="post" action="https://phono-demo.myshopify.com/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />

  <input type="email" value="" placeholder="Email address" name="contact[email]" class="mail" id="mail" aria-label="Email address" required="required">
  <input type="hidden" name="contact[tags]" value="newsletter">
  <input type="submit" class="btn"  value="Send"  id="subscribe" >



</form>  
        </div>   
        <input id="dismiss" type="checkbox" name="dismiss">
        <label for="dismiss">
          <span>We do not spam</span>
        </label>
     </div>   
     </div>       
    </div>
  </div>
</div>



  
  
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/classie5fc9.js?v=15303010894070199091"></script>
 
  <script>
    $('.qtyplus').click(function(e){
      e.preventDefault();
      var currentVal = parseInt($('input[name="quantity"]').val());
      if (!isNaN(currentVal)) {
        $('input[name="quantity"]').val(currentVal + 1);
      } else {
        $('input[name="quantity"]').val(1);
      }

    });

    $(".qtyminus").click(function(e) {

      e.preventDefault();
      var currentVal = parseInt($('input[name="quantity"]').val());
      if (!isNaN(currentVal) && currentVal > 0) {
        $('input[name="quantity"]').val(currentVal - 1);
      } else {
        $('input[name="quantity"]').val(1);
      }

    });
  </script>


  <script type="text/javascript">
    $('.quick-view .close-window').click(function() {  			
      $('.quick-view').switchClass("open-in","open-out");
    });
  </script>
  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/uisearch8a32.js?v=6048510332457064078"></script>

 
  
  <!-- End Recently Viewed Products -->
 

  <script src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/magnific-popupc2a6.js?v=14308366903927063490" type="text/javascript"></script>
  <script type="text/javascript">
    if ( $( '.p-video' ).length > 0 ) {
      $( '.jas-popup-url' ).magnificPopup({
        disableOn: 0,
        tLoading: '<div class="loader"><div class="loader-inner"></div></div>',
        type: 'iframe'
      });
    }
  </script>

  
  <style type="text/css">
  .bottom-products-suggest {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    padding: 0;
    display: block;
    position: fixed;
    text-align: left;
    width: auto;
  min-width: 250px;
   left: 35px;
    bottom: 25px;
      z-index: 1000;
}
.bottom-products-suggest .product-short-suggest .product-thumb img {
    max-width: 50px;
}
.bottom-products-suggest .product-short-suggest {
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #efefef;
}
.bottom-products-suggest .product-short-suggest .product-thumb {
    float: right;
    margin-left: 10px;
}
.bottom-products-suggest .product-short-suggest .product-title {
    display: block;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
}
.bottom-products-suggest .product-short-suggest .price del {
    color: #D0D0D0;
}
</style>  

  <script>

    


    $(document).ready(function() {
      var body = $('body');
      var doc = $(document);

      var showLeftPush = $('#showLeftPush');
      var nav = $('#cbp-spmenu-s1');

      showLeftPush.on('click', function(e) {
        e.stopPropagation();

        body.toggleClass('cbp-spmenu-push-toright');
        nav.toggleClass('cbp-spmenu-open');
        showLeftPush.toggleClass('active');
      });

      $('.gf-menu-device-wrapper .close-menu').on('click', function() {
        showLeftPush.trigger('click');
      });

      doc.on('click', function(e) {
        if (!$(e.target).closest('#cbp-spmenu-s1').length && showLeftPush.hasClass('active')) {
          showLeftPush.trigger('click');
        }        
      });
    });




  </script>  
</body>




