<head>

  <meta charset="utf-8" />

  <link
    rel="shortcut icon"
    href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/favicon0012.png?v=17101946069676334379"
    type="image/png"
  />

  <!-- Social meta ================================================== -->

  <meta
    property="og:image"
    content="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/logodea7.png?v=16701608685471921277"
  />
  <meta
    property="og:image:secure_url"
    content="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/logodea7.png?v=16701608685471921277"
  />

  <meta property="og:site_name" content="Phono" />

  <meta name="twitter:card" content="summary" />

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="contact-us.html" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#ffffff" />

  <!-- CSS ================================================== -->
  <link
    href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/frame.scssec39.css?v=17852677270710569768"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <link
    href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/style8905.css?v=5045170032217786360"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <link
    href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick-theme5606.css?v=9913182463018565908"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <link
    href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick.scss75ae.css?v=16537647626574767879"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <link
    href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick-slidere60c.css?v=15306499933921296439"
    rel="stylesheet"
    type="text/css"
    media="all"
  />

  <link
    href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/animatea14e.css?v=17046942425478865338"
    rel="stylesheet"
    type="text/css"
    media="all"
  />
  <link
    href="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/font-all.min373a.css?v=15722457319706631789"
    rel="stylesheet"
    type="text/css"
    media="all"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="http://fonts.googleapis.com/css?family=Rajdhani:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="http://fonts.googleapis.com/css?family=Work+Sans:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic"
  />

</head>

<body id="contact-us" class="template-page">

  <div id="PageContainer"></div>
  <div class="quick-view"></div>
  <nav
    class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left"
    id="cbp-spmenu-s1"
  >
    <div class="gf-menu-device-wrapper">
      <div class="close-menu">x</div>
      <div class="gf-menu-device-container"></div>
    </div>
  </nav>

  <main class="main-content">

    <nav class="breadcrumb" aria-label="breadcrumbs">

      <h1>Contact us</h1>
      <a href="../index.html" title="Back to the frontpage">Home</a>

      <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
      <span>Contact us</span>

    </nav>

    <div class="grid-uniform">
      <div class="grid__item">

        <div id="map"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.848207303484!2d76.46966301419255!3d10.66888789239455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba80b6c31ca7653%3A0x6720a049559e2c11!2sAdarsh%20villa!5e0!3m2!1sen!2sin!4v1605690908056!5m2!1sen!2sin"
            width="600"
            height="450"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe></div>

        <div class="contact-address">
          <div class="wrapper">
            <div class="dt-sc-hr-invisible-large"></div>

            <div class="grid__item">

              <ul>
                <li
                  class="grid__item wide--one-third post-large--one-third large--one-third"
                >
                  <div class="icon">
                    <i class="fas fa-phone"></i>
                  </div>

                  <h4>Talk to us</h4>
                  <p>
                    <b>Toll-Free: </b><a href="tel:6282340803">6282340803</a>
                    <br /></p><mark></mark>

                </li>
                <li
                  class="grid__item wide--one-third post-large--one-third large--one-third"
                >

                  <div class="icon">
                    <i class="far fa-envelope"></i>
                  </div>
                  <h4>Contact Us</h4>
                  <p>
                    <a
                      title=""
                      href="mailto:adarshvillasuni@gmail.com"
                    >adarshvillasuni@gmail.com</a><br />
                  </p>

                </li>

                <li
                  class="address grid__item wide--one-third post-large--one-third large--one-third"
                >
                  <div class="icon">
                    <i class="fas fa-location-arrow"></i>
                  </div>
                  <h4>Location</h4>
                  <p>GizmoBay , Tarur , Palakkad<br />
                    Kerala , 678544<br /></p><mark></mark>

                </li>

              </ul>

            </div>

          </div>
        </div>

      </div>
    </div>

  </main>

  <script
    src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/timbera6ab.js?v=17498282778827070966"
    type="text/javascript"
  ></script>
  <script
    src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/footer5d7f.js?v=97396426770645426"
    type="text/javascript"
  ></script>
  <script
    src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/theme10bd.js?v=18326697871268545370"
    type="text/javascript"
  ></script>
  <script
    src="../../cdn.shopify.com/shopifycloud/shopify/assets/themes_support/option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js"
    type="text/javascript"
  ></script>
  <script
    src="../../cdn.shopify.com/shopifycloud/shopify/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js"
    type="text/javascript"
  ></script>
  <script
    src="../../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/shopd775.js?v=12714818639140570596"
    type="text/javascript"
  ></script>

</body>