<!doctype html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon"
    href="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/favicon0012.png?v=17101946069676334379"
    type="image/png" />
  <title>
    Phono
  </title>
  <!-- CSS ================================================== -->
  <link href="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/frame.scssec39.css?v=17852677270710569768"
    rel="stylesheet" type="text/css" media="all" />
  <link href="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/style8905.css?v=5045170032217786360"
    rel="stylesheet" type="text/css" media="all" />
  <link href="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick-theme5606.css?v=9913182463018565908"
    rel="stylesheet" type="text/css" media="all" />
  <link href="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick.scss75ae.css?v=16537647626574767879"
    rel="stylesheet" type="text/css" media="all" />
  <link href="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/slick-slidere60c.css?v=15306499933921296439"
    rel="stylesheet" type="text/css" media="all" />
  <link href="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/animatea14e.css?v=17046942425478865338"
    rel="stylesheet" type="text/css" media="all" />
  <link href="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/font-all.min373a.css?v=15722457319706631789"
    rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" type="text/css"
    href="http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  <link rel="stylesheet" type="text/css"
    href="http://fonts.googleapis.com/css?family=Rajdhani:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  <link rel="stylesheet" type="text/css"
    href="http://fonts.googleapis.com/css?family=Work+Sans:300,300italic,400,600,400italic,600italic,700,700italic,800,800italic">
  <script src="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/header5b82.js?v=10798697627293206366"
    type="text/javascript"></script>
</head>

<body id="phono" class="template-index">
  <div id="PageContainer"></div>
  <div class="quick-view"></div>
  <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left " id="cbp-spmenu-s1">
    <div class="gf-menu-device-wrapper">
      <div class="close-menu">x</div>
      <div class="gf-menu-device-container"></div>
    </div>
  </nav>
  <div class="wrapper-container">
    <div class="header-type-2">
      <div id="shopify-section-top-bar-type-2" class="shopify-section">
      </div>
      <header class="site-header">
    </div>
  </div>
  </header>
  </div>
  </div>
  <main style="padding-top: 38px;" class="main-content">
    <div class="grid-uniform">
      <div class="grid__item">
        <div id="shopify-section-1542369329707" class="shopify-section index-section index-section--flush">
          <div class="wrapper">
            <div class="home-slideshow">
              <div class="variable-width" data-slick='{dots: true, slidesToScroll: 1,fade: true,autoplaySpeed:5000'>
                <div class="slick-list slider_style_2 slider-1542791335717-list">
                  <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/phono-slider-3_2000xf041.jpg?v=1560404580"
                    class="slide-img medium-down--hide" alt="" />
                  <img
                    src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/phono-slider-3-res_767x3abe.jpg?v=1560744693"
                    class="slide-img wide--hide post-large--hide large--hide" alt="" />
                  <div class="slider-content slider-content-bg" style="">
                    <div class="container">
                      <div class="slide_left" style="">
                        <h1 style="color: whitesmoke;">ONEPLUS NORD</h1>
                        <h3 class="slide-heading animated " style=" font-size: 100px; color:#ffffff;">
                          FHD+ AMOLED DISPLAY
                        </h3>
                        <h5 class="slide-text animated " style="display:inline-block;font-size: 30px; color:#ffffff;">
                          FEEL THE SMOOTHNESS OF <span style="color: #fb641b;">OXYGEN OS</span> WITH PUNCHY COLOURS

                        </h5>
                        <a onclick="addToCart('5fb6123f312000048cdb00eb')" class="slide-button animated btn ">
                          Buy Now
                        </a>
                      </div>
                    </div>
                  </div>
                  <style>
                    .slider_style_2 .slide-icon img {
                      float: right;
                    }

                    .slider_style_2 .slide_left {
                      float: right;
                      text-align: center;
                    }

                    .slider-1542791335717-list .slide-offer-text span {
                      color: ;
                      font-weight: bold;
                    }

                    @media screen and (min-width: 320px) and (max-width: 767px) {

                      .slider-1542791335717-list:before {
                        position: absolute;
                        top: 0;
                        content: "";
                        float: left;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.6);
                      }
                    }
                  </style>
                </div>
                <div class="slick-list slider_style_2 slider-1556086377188-list">
                  <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/phono-slider-1_2000xeb26.jpg?v=1560405131"
                    class="slide-img medium-down--hide" alt="" />

                  <img
                    src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/phono-slider-1-res_767x946d.jpg?v=1560744716"
                    class="slide-img wide--hide post-large--hide large--hide" alt="" />




                  <div class="slider-content slider-content-bg" style="">
                    <div class="container">
                      <div class="slide_left" style="">







                        <h1 style="color: whitesmoke;">SAMSUNG GALAXY S10</h1>
                        <h3 class="slide-heading animated " style=" font-size: 100px;color:#ffff;">
                          <br>
                          <span style="color: #5c60f7;">DOLBY</span> ATMOS SORROUND SOUND
                        </h3>

                        <h5 class="slide-text animated " style="display:inline-block;font-size: 30px; color:#ffffff;  ">
                          MUSIC JUST CHANGED FOREVER
                        </h5>


                        <br>


                        <a onclick="addToCart('5fb61408312000048cdb00ed')" class="slide-button animated btn ">
                          Shop Now
                        </a>

                      </div>
                    </div>

                  </div>
                  <style>
                    .slider_style_2 .slide-icon img {
                      float: right;
                    }

                    .slider_style_2 .slide_left {
                      float: right;
                      text-align: center;
                    }

                    .slider-1556086377188-list .slide-offer-text span {
                      color: ;
                      font-weight: bold;
                    }

                    @media screen and (min-width: 320px) and (max-width: 767px) {

                      .slider-1556086377188-list:before {
                        position: absolute;
                        top: 0;
                        content: "";
                        float: left;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.6);
                      }
                    }
                  </style>
                </div>




                <div class="slick-list slider_style_1 slider-1542791551615-list">


                  <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/phono-slider-2_2000xeebf.jpg?v=1560404973"
                    class="slide-img medium-down--hide" alt="" />



                  <img
                    src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/phono-slider-2-res_767x561e.jpg?v=1560744737"
                    class="slide-img wide--hide post-large--hide large--hide" alt="" />




                  <div class="slider-content slider-content-bg" style="margin-left: 32px;">
                    <div class="container">
                      <div class="slide_left" style="">

                        <h1 style="color: Black;">XIAOMI 10</h1>

                        <h2 class="slide-heading animated " style="  font-size: 100px;color:#212121; ">
                          PREMIUM BUILD
                        </h2>

                        <h5 class="slide-text animated " style="display:inline-block;font-size: 30px;color:#212121; ">
                          FEEL THE PREMIUM WITHIN YOU
                        </h5>
                        <br>
                        <a onclick="addToCart('5fb6134e312000048cdb00ec')" class="slide-button animated btn ">
                          Buy Now
                        </a>

                      </div>
                    </div>

                  </div>
                  <style>
                    .slider_style_1 .slide_left {
                      float: left;
                      text-align: center;
                    }

                    .slider_style_1 .slide-icon img {
                      display: inline-block;
                    }

                    .slider-1542791551615-list .slide-offer-text span {
                      color: ;
                      font-weight: bold;
                    }

                    @media screen and (min-width: 320px) and (max-width: 767px) {

                      .slider-1542791551615-list:before {
                        position: absolute;
                        top: 0;
                        content: "";
                        float: left;
                        width: 100%;
                        height: 100%;
                        background: rgba(255, 255, 255, 0.6);
                      }
                    }
                  </style>
                </div>




              </div>
            </div>
          </div>


          <script>
            $(document).on('ready', function () {
              $('.variable-width').slick({
                autoplay: true,
                swipeToSlide: true,
                fade: true,
                autoplaySpeed: 5000,
                afterChange: function (slick, currentSlide) {
                  console.log(currentSlide);
                }
              });
            })
          </script>




          <style>
            @media screen and (min-width: 320px) and (max-width: 767px) {}



            .slider-1542791335717-list .btn {
              border: 2px solid #fff;
              background: rgba(0, 0, 0, 0);
              color: #ffffff;
            }

            .slider-1542791335717-list .btn:hover {
              border-color: #fb641b;
              background: #fb641b;
              color: #fff;
            }

            .slider-1542791335717-list .btn:after {
              border-right: 70px solid transparent;
              border-bottom: 80px solid #fb641b;
            }




            .slider-1556086377188-list .btn {
              border: 2px solid #fff;
              background: #000;
              color: #fff;
            }

            .slider-1556086377188-list .btn:hover {
              border-color: #fb641b;
              background: #fb641b;
              color: #fff;
            }

            .slider-1556086377188-list .btn:after {
              border-right: 70px solid transparent;
              border-bottom: 80px solid #fb641b;
            }




            .slider-1542791551615-list .btn {
              border: 2px solid #212121;
              background: rgba(0, 0, 0, 0);
              color: #212121;
            }

            .slider-1542791551615-list .btn:hover {
              border-color: #fb641b;
              background: #fb641b;
              color: #fff;
            }

            .slider-1542791551615-list .btn:after {
              border-right: 70px solid transparent;
              border-bottom: 80px solid #fb641b;
            }
          </style>






          <style>
            .home-slideshow .slick-arrow:before {
              color: #fb641b;
            }
          </style>

        </div>
        <div id="shopify-section-1545034092108" class="shopify-section index-section">
          <div data-section-id="1545034092108" data-section-type="support-block-type-8" class="support-block-type-8">

            <div class="grid-uniform">
              <div class="support_block" style="background:#f9f9f9;float:left;width:100%;">
                <div class="container">



                  <div
                    class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp"
                    data-wow-delay="ms">

                    <div class="support_section">

                      <div class="support_icon">
                        <img
                          src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/free-deliver-icon_55x1685.png?v=1560501439"
                          alt="Free Shipping">
                      </div>

                      <div class="support_text">

                        <h6 style="color:#fb641b;">Free Shipping</h6>


                        <p style="color:#808080;" class="desc">For orders over ₹500</p>

                      </div>
                    </div>
                  </div>


                  <div
                    class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp"
                    data-wow-delay="ms">

                    <div class="support_section">

                      <div class="support_icon">
                        <img
                          src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/offers-icon_55xfbb1.png?v=1560501482"
                          alt="Official Discounts">
                      </div>

                      <div class="support_text">

                        <h6 style="color:#fb641b;">Official Discounts</h6>


                        <p style="color:#808080;" class="desc">Save Big on next product</p>

                      </div>
                    </div>
                  </div>


                  <div
                    class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp"
                    data-wow-delay="ms">

                    <div class="support_section">

                      <div class="support_icon">
                        <img
                          src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/support-icon_55xd773.png?v=1560501497"
                          alt="24/7 Helpline">
                      </div>

                      <div class="support_text">

                        <h6 style="color:#fb641b;">24/7 Helpline</h6>


                        <p style="color:#808080;" class="desc">Care till the end</p>

                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <div class="dt-sc-hr-invisible-large"></div>

          </div>


        </div>
        <div id="shopify-section-1545034445052" class="shopify-section index-section">
          <div data-section-id="1545034445052" data-section-type="support-block-type-10" class="support-block-type-10">

            <div class="grid-uniform">
              <div class="container">

                <div class="border-title">
                  <h2 class="section-header__title" style="color:#000;">
                    What makes the Essential different?
                  </h2>

                  <div class="short-desc">
                    <p style="color:#808080;">Experience High Performance and Secure</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <center><img src="/images/apple-iphone-xr-mryj2hn-a-original-imafa6zkm7qhv2zd.png" alt=""
                        srcset=""><br><br><br>
                  </div>
                  <div class="col-md-6">
                    <center>
                      <h1 style="color: #fb641b;">Apple iPhone XR </h3> <a style="margin-bottom: 10px;"
                          onclick="addToCart('5fa91be89330b42ac89a3f10')" class="slide-button animated btn ">
                          <b>Buy Now</b>

                        </a>
                  </div>
                  </center>
                </div>
                <div class="grid">
                  <ul class="support_block">




                    <li
                      class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp"
                      data-wow-delay="ms">

                      <div class="support_section">

                        <div class="support-wrapper" style="background: #fff4c7">


                          <div class="support_icon">
                            <img
                              src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic13_mediume13c.png?v=1560435609"
                              alt="Dual Camera">
                          </div>

                          <div class="support_text">

                            <h4 style="color:#fb641b;">Dual Camera</h4>


                            <p style="color:#000;" class="desc">A New Era of Photography <br><span
                                style="color: #fff4c7;">.</span></p>

                          </div>
                        </div>

                      </div>
                    </li>


                    <li
                      class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp"
                      data-wow-delay="ms">

                      <div class="support_section">

                        <div class="support-wrapper" style="background: #fff4c7">


                          <div class="support_icon">
                            <img
                              src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic12_medium2cf3.png?v=1560435631"
                              alt="Intelligent Processing">
                          </div>

                          <div class="support_text">

                            <h4 style="color:#fb641b;">Intelligent Processing</h4>


                            <p style="color:black;" class="desc">Unleash upgraded CPU speeds, 15% faster graphics
                              rendering, multi-gigabit 4G connectivity</p>

                          </div>
                        </div>

                      </div>
                    </li>


                    <li
                      class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp"
                      data-wow-delay="ms">

                      <div class="support_section">

                        <div class="support-wrapper" style="background:#fff4c7">


                          <div class="support_icon">
                            <img
                              src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic11_mediumea74.png?v=1560435659"
                              alt="8GB DDR5 RAM">
                          </div>

                          <div class="support_text">

                            <h4 style="color:#fb641b;">8GB DDR5 RAM</h4>


                            <p style="color:#000;" class="desc">Power up your gaming skill with the powerfull 8GB ram
                            </p>

                          </div>
                        </div>

                      </div>
                    </li>


                  </ul>
                </div>
              </div>
            </div>
            <div class="dt-sc-hr-invisible-large"></div>


          </div>


          <style>



          </style>



        </div>
        <div id="shopify-section-1545037571521" class="shopify-section index-section index-section--quotes">
          <style>
            #QuotesSection-1545037571521 {
              background-color: #ffffff;
            }

            #QuotesSection-1545037571521 .quote,
            #QuotesSection-1545037571521 .quote-author,
            #QuotesSection-1545037571521 .quote-job {
              color: ;
            }



            /* Slider */
            .slick-slider {
              position: relative;

              display: block;
              box-sizing: border-box;

              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;

              -webkit-touch-callout: none;
              -khtml-user-select: none;
              -ms-touch-action: pan-y;
              touch-action: pan-y;
              -webkit-tap-highlight-color: transparent;
            }

            .slick-list {
              position: relative;

              display: block;
              overflow: hidden;

              margin: 0;
              padding: 0;
            }

            .slick-list:focus {
              outline: none;
            }

            .slick-list.dragging {
              cursor: pointer;
              cursor: hand;
            }

            .slick-slider .slick-track,
            .slick-slider .slick-list {
              -webkit-transform: translate3d(0, 0, 0);
              -moz-transform: translate3d(0, 0, 0);
              -ms-transform: translate3d(0, 0, 0);
              -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
            }

            .slick-track {
              position: relative;
              top: 0;
              left: 0;

              display: block;
              margin-left: auto;
              margin-right: auto;
            }

            .slick-track:before,
            .slick-track:after {
              display: table;

              content: '';
            }

            .slick-track:after {
              clear: both;
            }

            .slick-loading .slick-track {
              visibility: hidden;
            }

            .slick-slide {
              display: none;
              float: left;

              height: 100%;
              min-height: 1px;
            }

            [dir='rtl'] .slick-slide {
              float: right;
            }

            .slick-slide img {
              display: block;
            }

            .slick-slide.slick-loading img {
              display: none;
            }

            .slick-slide.dragging img {
              pointer-events: none;
            }

            .slick-initialized .slick-slide {
              display: block;
            }

            .slick-loading .slick-slide {
              visibility: hidden;
            }

            .slick-vertical .slick-slide {
              display: block;

              height: auto;

              border: 1px solid transparent;
            }

            .slick-arrow.slick-hidden {
              display: none;
            }

            .slick-slide.slick-current.slick-active.slick-center {
              opacity: 1;
            }

            .slick-slide {
              opacity: 0.08;
            }
          </style>


          <div id="QuotesSection-1545037571521" data-section-id="1545037571521" data-section-type="quotes-section"
            style="position:relative;">

            <div class="module home-testimonials ready">
              <div class="container">

                <div class="border-title">

                  <h2 class="section-header__title" style="color:#000;">
                    FIND YOUR PERFECT MATCH
                  </h2>

                  <div class="short-desc">
                    <p style="color:#808080;">explore and find right one</p>
                  </div>
                </div>

              </div>


              <div class="module-body">
                <div class="home-testimonials-container">
                  <div class="quotes-slider text-center" data-count="4">


                    <div class="quotesSlide quotes-slide--0 quotes-slide--1545037571521-0">

                      <img class="quote-icon"
                        src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/img-1_73f531ca-ace8-42e4-88b0-7a8de5d93d7e_768x40a9.jpg?v=1554805709"
                        alt="" style="margin:auto;" />

                    </div>

                    <div class="quotesSlide quotes-slide--1 quotes-slide--1545037598951">

                      <img class="quote-icon"
                        src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/img-2_768xd4a2.jpg?v=1554805610" alt=""
                        style="margin:auto;" />

                    </div>

                    <div class="quotesSlide quotes-slide--2 quotes-slide--1545037604078">

                      <img class="quote-icon"
                        src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/img-3_768x6d85.jpg?v=1554805617" alt=""
                        style="margin:auto;" />

                    </div>

                    <div class="quotesSlide quotes-slide--3 quotes-slide--1545037601440">

                      <img class="quote-icon"
                        src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/img-4-1_768x593c.jpg?v=1554972671" alt=""
                        style="margin:auto;" />

                    </div>


                  </div>
                  <div class="quote-navigation"></div>
                </div>
              </div>

            </div>

            <center class="mt-5"><a href="/products" class="slide-button animated btn ">
                <b>Shop Now </b>
              </a></center>
          </div>





          <script>
            jQuery(document).ready(function () {
              jQuery('.quotes-slider').slick({
                centerMode: true,
                centerPadding: '20px',
                slidesToShow: 3,
                responsive: [
                  {
                    breakpoint: 768,
                    settings: {
                      arrows: false,
                      centerMode: true,
                      centerPadding: '40px',
                      slidesToShow: 3
                    }
                  },
                  {
                    breakpoint: 767,
                    settings: {
                      arrows: true,
                      centerMode: true,
                      centerPadding: '40px',
                      slidesToShow: 1
                    }
                  }
                ]
              });
            });


          </script>
        </div>
        <div id="shopify-section-1545038508994" class="shopify-section index-section">
          <div data-section-id="1545038508994" data-section-type="support-block-type-4" class="support-block-type-4">
            <div class="support-wrapper" style="background-color:#ffffff">
              <div class="container">
                <div class="grid__item">

                  <div class="border-title">
                    <center>
                      <h1 style="color:#fb641b ;">OPPO A9</h1>
                    </center>
                    <h2 class="section-header__title" style="color:#000;">
                      possibilities. performance. power.
                    </h2>

                    <div class="short-desc">
                      <p style="color:#808080;">faster processing with less power</p>
                    </div>
                  </div>

                </div>
                <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/horizontal-phone_1920X307f.png?v=1560419170"
                  alt="" title="" />


                <div class="grid-uniform">

                  <ul class="support_block">



                    <li
                      class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp"
                      data-wow-delay="ms">

                      <div class="support_section support-block">

                        <div class="support_icon">
                          <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic7_55x8c1c.png?v=1560414451"
                            alt="Scorpion Processor">
                        </div>

                        <div class="support_text">

                          <h6 style="color:#000000;">MediaTek Helio P70</h6>



                        </div>
                      </div>
                    </li>


                    <li
                      class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp"
                      data-wow-delay="ms">

                      <div class="support_section support-block">

                        <div class="support_icon">
                          <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic10_55xae4f.png?v=1560414463"
                            alt="Dual SIM Cards">
                        </div>

                        <div class="support_text">

                          <h6 style="color:#000;">Dual SIM Cards</h6>



                        </div>
                      </div>
                    </li>


                    <li
                      class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp"
                      data-wow-delay="ms">

                      <div class="support_section support-block">

                        <div class="support_icon">
                          <img
                            src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic9_db35a001-6739-4b9f-b1d9-12a825ddf8d9_55x99ac.png?v=1560418764"
                            alt="48 MP Camera">
                        </div>

                        <div class="support_text">

                          <h6 style="color:#000;">48 MP Camera</h6>



                        </div>
                      </div>
                    </li>


                    <li
                      class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp"
                      data-wow-delay="ms">

                      <div class="support_section support-block">

                        <div class="support_icon">
                          <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic8_55x6cfc.png?v=1560418786"
                            alt="48 Hrs Backup">
                        </div>

                        <div class="support_text">

                          <h6 style="color:#000;">48 Hrs Backup</h6>



                        </div>

                      </div>

                    </li>
                    <center><a onclick="addToCart('5fb614e4312000048cdb00eelo')" class="slide-button animated btn ">
                        Buy Now </center>
                    </a>
                  </ul>
                </div>
              </div>
            </div>

          </div>


          <style>
            .support-block-type-4 ul li:before,
            .support-block-type-4 ul li:after {
              background: #000000;
            }


            .support-block-type-4 .support-wrapper::before {
              background-color: #ffffff;
            }
          </style>




        </div>
        <div id="shopify-section-1545038874796" class="shopify-section index-section">
          <div data-section-id="1545038874796" data-section-type="wide-banner-type-4" class="wide-banner-type-4">
            <div class="grid-uniform">
              <div class="wide-banner-type-4-block parallax"
                style="  background-image:url('../cdn.shopify.com/s/files/1/0104/6917/9492/files/img-5_8dbc9088-a43a-4e32-b664-1a3681550de4_1920Xe667.jpg?v=1554811807');background-repeat:no-repeat;background-size:cover ">
                <div class="wide-banner-type-4-content">
                  <h2 style="color: #fb641b;">SEE WHAT OUR CUSTOMER SAYS</h2>
                  <p style="color:#f69323">JENNIFER F., CUSTOMER</p>


                  <h2 style="color:#ffffff;">"All Products Are Value For Money"</h2>



                </div>

              </div>
            </div>
          </div>
          <style>
            #shopify-section-1545038874796 .wide-banner-type-4 .wide-banner-type-4-block::before {
              position: absolute;
              content: "";
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;

              background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #000);
            }




            #shopify-section-1545038874796 .wide-banner-type-4-content a.btn:hover {
              background: #fb641b !important;
              color: #ffffff !important;
            }
          </style>






        </div>
        <div id="shopify-section-1545039071167" class="shopify-section index-section index-section--custom-content">
          <style>
            .custom-content-wrapper--1545039071167 .custom-content__section-header {
              color: #000000;
            }
          </style>
        </div>

        <div data-section-id="1545039757092" data-section-type="triangle-icon-block-4" class="triangle-icon-block-4"
          style="background:#ffffff">
          <div class="dt-sc-hr-invisible-large"></div>
          <div class="container">
            <div class="grid__item">


              <div class="border-title">
                <center>
                  <h1 style="color:#fb641b ;">REALME X3 SUPERZOOM</h1>
                </center>
                <h2 class="section-header__title" style="color:#000;">
                  Innovative qualities & features
                </h2>

                <div class="short-desc">
                  <p style="color:#808080;">Show yours to the world</p>
                </div>
              </div>

              <div class="grid-uniform">
                <div class=" triangle-icon-wrapper">
                  <div
                    class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp animated">



                    <div class="icon_wrapper icon-left">



                      <div class="icon">


                        <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic5_grande1822.png?v=1560419366"
                          alt="" title="" style="" />

                      </div>



                      <div class="icon-content">

                        <h4 style="color:#000;">Intelligent Processor</h4>


                      </div>

                    </div>


                    <div class="icon_wrapper icon-left">


                      <div class="icon">


                        <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic6_grandef10b.png?v=1560419397"
                          alt="" title="" style="" />


                      </div>



                      <div class="icon-content">
                        <h4 style="color:#000;">HD Surround Audio</h4>


                      </div>

                    </div>



                    <div class="icon_wrapper icon-left">


                      <div class="icon">


                        <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic3_grande4fde.png?v=1560419449"
                          alt="" title="" style="" />

                      </div>


                      <div class="icon-content">
                        <h4 style="color:#000;">Stylish Bevel Edges</h4>


                      </div>

                    </div>

                  </div>



                  <div
                    class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp animated">

                    <div class="center-block" style="">

                      <img
                        src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/center-img_eb064c43-efaf-4d56-90df-f89acfdf85fe_grandef782.png?v=1560405686"
                        alt="Heading" />


                    </div>
                  </div>





                  <div
                    class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item wow fadeInUp animated">

                    <div class="icon_wrapper icon-right">


                      <div class="icon">


                        <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic1_grande89c6.png?v=1560419478"
                          alt="" title="" style="" />

                      </div>



                      <div class="icon-content">
                        <h4 style="color:#000;">5G Supported</h4>


                      </div>

                    </div>


                    <div class="icon_wrapper icon-right">


                      <div class="icon">

                        <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic4_grande1a4c.png?v=1560419513"
                          alt="" title="" style="" />


                      </div>



                      <div class="icon-content">
                        <h4 style="color:#000;">120HZ refresh rate</h4>


                      </div>

                    </div>


                    <div class="icon_wrapper icon-right">

                      <div class="icon">

                        <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/ic2_grande7c40.png?v=1560419557"
                          alt="" title="" style="" />

                      </div>


                      <div class="icon-content">
                        <h4 style="color:#000;">Free G-Drive Storage space </h4>
                        <p>FIRST 12 MONTHS</p>


                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dt-sc-hr-invisible-large"></div>
        </div>





        <style>
          .triangle-icon-block-4 .icon i {
            color: ;
          }




          .triangle-icon-block-a .icon_wrapper:hover .icon {
            color: ;
            background: ;
          }

          .triangle-icon-block-a .icon_wrapper .icon {
            background: ;
            color: ;
          }
        </style>
















      </div>
      <div id="shopify-section-1545042495013" class="shopify-section index-section">
        <div data-section-id="1545042495013" data-section-type="grid-banner-type-11" class="grid-banner-type-11">
          <div class="grid-uniform">
            <div
              class="grid__item wide--two-thirds post-large--two-thirds large--two-thirds medium--grid__item small-grid__item">
              <div class="grid__item">
                <div class="grid__item grid-banner-type-11-right-column">
                  <div class="img-hover-effect-1 img-hover-effect">


                    <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/gal1_1920Xfff5.jpg?v=1560420603"
                      alt="Dot Notch Display" />


                    <div class="featured-content">
                      <h1 style="color: #fb641b;">SMART 4 PLUS </h1>
                      <h6 style="color:#ffffff">Dot Notch Display</h6>


                      <h2 style="color:#ffffff">Smooth Control</h2>



                    </div>
                  </div>
                </div>
                <div class="grid__item grid-banner-type-11-left-column">
                  <div class="img-hover-effect-2 img-hover-effect">


                    <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/gal2_1920X54d7.jpg?v=1560420796"
                      alt="V12 Pro" />


                    <div class="featured-content">

                      <h1 style="color: #fb641b;">Galaxy M51S</h1>


                      <h2 style="color:#ffffff">Now with 64 MP Camera</h2>



                    </div>
                  </div>
                </div>
              </div>
              <div class="grid__item">
                <div class="grid__item grid-banner-type-11-right-2-column">
                  <div class="img-hover-effect-3 img-hover-effect">


                    <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/gal3_1920Xe039.jpg?v=1560420819"
                      alt="Beautiful Finish" />


                    <div class="featured-content">
                      <h1 style="color: #fb641b;">FOLD 2 5G</h1>

                      <h6 style="color:#ffffff">Beautiful Finish</h6>


                      <h2 style="color:#ffffff">Seven Layer Color</h2>



                    </div>
                  </div>
                </div>
                <div class="grid__item grid-banner-type-11-left-2-column">
                  <div class="img-hover-effect img-hover-effect-4">


                    <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/gal4_1920X7ee6.jpg?v=1560420833"
                      alt="High Speed" />


                    <div class="featured-content">
                      <h1 style="color: #fb641b;">PIXEL 4A </h1>

                      <div class="offer_text">50%<p><span>Offer</span></p>
                      </div>


                      <h6 style="color:#ffffff">High Speed</h6>


                      <h2 style="color:#ffffff">Power of Android</h2>




                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="grid__item wide--one-third post-large--one-third large--one-third medium--grid__item small-grid__item">
              <div class="img-hover-effect-1 img-hover-effect last">


                <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/gal5_1920X1efa.jpg?v=1560420843"
                  alt="Curved Ceramic Body" />


                <div class="featured-content">
                  <h1 style="color: #fb641b;">REDMI NOTE 8</h1>

                  <h6 style="color:#ffffff">Curved Ceramic Body</h6>


                  <h2 style="color:#ffffff">Extremely Thin and Light</h2>



                </div>
              </div>
            </div>
          </div>
        </div>
        <style>
          .grid-banner-type-11 .featured-content .btn.one:hover {
            border: 2px solid #fb641b !important;
            background: #eb0028 !important;
            color: #fff !important;
          }

          .grid-banner-type-11 .featured-content .btn.two:hover {
            border: 2px solid #fb641b !important;
            background: #eb0028 !important;
            color: #fff !important;
          }

          .grid-banner-type-11 .featured-content .btn.three:hover {
            border: 2px solid #fb641b !important;
            background: #eb0028 !important;
            color: #fff !important;
          }

          .grid-banner-type-11 .featured-content .btn.four:hover {
            border: 2px solid #fb641b !important;
            background: #eb0028 !important;
            color: #fff !important;
          }

          .grid-banner-type-11 .featured-content .btn.five:hover {
            border: 2px solid #fb641b !important;
            background: #eb0028 !important;
            color: #fff !important;
          }

          .grid-banner-type-11 .featured-content h2 span {
            color: #000;
          }

          .grid-banner-type-11 .featured-content .offer_text {
            color: #ffffff;
          }

          .grid-banner-type-11 .featured-content p span:before,
          .grid-banner-type-4 .featured-content p span:after {
            background: #ffffff;
          }


          .grid-banner-type-11 .img-hover-effect-1:before {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            content: "";
            float: left;
            width: 0%;
            height: 0%;
            background: rgba(0, 0, 0, 0.7);
          }

          .grid-banner-type-11 .img-hover-effect-2:before {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            content: "";
            float: left;
            width: 0%;
            height: 0%;
            background: rgba(0, 0, 0, 0.7);
          }

          .grid-banner-type-11 .img-hover-effect-3:before {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            content: "";
            float: left;
            width: 0%;
            height: 0%;
            background: rgba(0, 0, 0, 0.7);
          }

          .grid-banner-type-11 .img-hover-effect-4:before {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            content: "";
            float: left;
            width: 0%;
            height: 0%;
            background: rgba(0, 0, 0, 0.7);
          }


          .grid-banner-type-11 .img-hover-effect-1:hover:before {
            width: 100%;
            height: 100%;
          }

          .grid-banner-type-11 .img-hover-effect-2:hover:before {
            width: 100%;
            height: 100%;
          }

          .grid-banner-type-11 .img-hover-effect-3:hover:before {
            width: 100%;
            height: 100%;
          }

          .grid-banner-type-11 .img-hover-effect-4:hover:before {
            width: 100%;
            height: 100%;
          }
        </style>






      </div>
      <div id="shopify-section-1545040647711" class="shopify-section index-section">
        <div data-section-id="1545040647711" data-section-type="contact-box-type" class="contact-box-type">

          <div class="border-title">
            <h2 class="section-header__title" style="color:#000;">
              <br><br>
              Welcome to Mobihub support. We're here to help.
            </h2>
            <div class="short-desc">
              <p style="color:#808080;">ALWAYS ON YOUR SIDE WHEN YOU NEED HELP</p>
            </div>
          </div>
          <div class="container">
            <div
              class="grid__item wide--one-half post-large--one-half large--one-half medium--one-whole small-grid__item ">
              <div class="contact-block" style="border:1px solid #e4e4e4">
                <div class="contact-img">
                  <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/phone-icn_75x75d6c8.png?v=1560491932"
                    alt="" />
                </div>
                <h6 style="color:#000">Have Any Doubts?</h6>
                <h2 style="color:#000">Call Us Now</h2>
                <p style="color:#808080">Toll Free - 443 221 2234</p>
                <div class="contact-btn">
                  <a style="color:#ffffff;border:2px solid rgba(0,0,0,0);background:#000000" href="tel:9495808845"
                    class="">Call Us<i class="fas fa-angle-right"></i></a>
                </div>
              </div>
            </div>
            <div
              class="grid__item wide--one-half post-large--one-half large--one-half medium--one-whole small-grid__item ">
              <div class="contact-block" style="border:1px solid #e4e4e4">
                <div class="contact-img">
                  <img src="../cdn.shopify.com/s/files/1/0104/6917/9492/files/chat-icn_75x751736.png?v=1560491913"
                    alt="" />
                </div>
                <h6 style="color:#000">Wanna Talk to Us?</h6>
                <h2 style="color:#000">Live Chat Now</h2>
                <p style="color:#808080">We Are Here To Help You!!!</p>
                <div class="contact-btn">
                  <a style="color:#ffffff;border:2px solid rgba(0,0,0,0);background:#000000" href="#" class="">Chat With
                    Us<i class="fas fa-angle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dt-sc-hr-invisible-large"></div>
      </div>
      <style>
        .contact-box-type .contact-btn a:hover {
          border: 2px solid #fb641b !important;
          color: #ffffff !important;
          background: #eb0028 !important;
        }

        .contact-box-type .contact-block:hover {
          border: 1px solid#fb641b !important;
        }

        .contact-box-type .contact-block:hover h2 {
          color: #fb641b !important;
        }
      </style>
    </div><!-- END content_for_index -->
    </div>
    </div>
  </main>
  <script src="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/timbera6ab.js?v=17498282778827070966"
    type="text/javascript"></script>
  <script src="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/footer5d7f.js?v=97396426770645426"
    type="text/javascript"></script>
  <script src="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/theme10bd.js?v=18326697871268545370"
    type="text/javascript"></script>
  <script
    src="../cdn.shopify.com/shopifycloud/shopify/assets/themes_support/option_selection-fe6b72c2bbdd3369ac0bfefe8648e3c889efca213baefd4cfb0dd9363563831f.js"
    type="text/javascript"></script>
  <script
    src="../cdn.shopify.com/shopifycloud/shopify/assets/themes_support/api.jquery-e94e010e92e659b566dbc436fdfe5242764380e00398907a14955ba301a4749f.js"
    type="text/javascript"></script>
  <script src="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/shopd775.js?v=12714818639140570596"
    type="text/javascript"></script>
  <script src="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/wow6fc4.js?v=8607965041847799793"
    type="text/javascript"></script>
  <script src="../cdn.shopify.com/s/files/1/0104/6917/9492/t/3/assets/classie5fc9.js?v=15303010894070199091"></script>



  <style type="text/css">
    .bottom-products-suggest {
      background-color: #fff;
      border: 0;
      border-radius: 0;
      padding: 0;
      display: block;
      position: fixed;
      text-align: left;
      width: auto;
      min-width: 250px;
      left: 35px;
      bottom: 25px;
      z-index: 1000;
    }

    .bottom-products-suggest .product-short-suggest .product-thumb img {
      max-width: 50px;
    }

    .bottom-products-suggest .product-short-suggest {
      overflow: hidden;
      padding: 10px;
      background-color: #fff;
      border: 2px solid #efefef;
    }

    .bottom-products-suggest .product-short-suggest .product-thumb {
      float: right;
      margin-left: 10px;
    }

    .bottom-products-suggest .product-short-suggest .product-title {
      display: block;
      margin-bottom: 7px;
      font-weight: 500;
      font-size: 11px;
      line-height: 1.5;
      text-transform: uppercase;
    }

    .bottom-products-suggest .product-short-suggest .price del {
      color: #D0D0D0;
    }
  </style>
  <script>
    $(document).ready(function () {
      var body = $('body');
      var doc = $(document);

      var showLeftPush = $('#showLeftPush');
      var nav = $('#cbp-spmenu-s1');

      showLeftPush.on('click', function (e) {
        e.stopPropagation();

        body.toggleClass('cbp-spmenu-push-toright');
        nav.toggleClass('cbp-spmenu-open');
        showLeftPush.toggleClass('active');
      });

      $('.gf-menu-device-wrapper .close-menu').on('click', function () {
        showLeftPush.trigger('click');
      });

      doc.on('click', function (e) {
        if (!$(e.target).closest('#cbp-spmenu-s1').length && showLeftPush.hasClass('active')) {
          showLeftPush.trigger('click');
        }
      });
    });
  </script>

</body>

</html>