
     <link rel="shortcut icon" type="image/x-icon" href="../userlogin/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../userlogin/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" type="text/css" href="../userlogin/css/fontawesome-all.min.css">
    <!-- Vegas CSS -->
    <link rel="stylesheet" type="text/css" href="../userlogin/css/vegas.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" type="text/css" href="../userlogin/font/flaticon.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../userlogin/css/loginstyle.css">
<body>
    <section class="fxt-template-animation fxt-template-layout29">
        <div class="container-fluid">
            <div class="row">
                <div class="vegas-container col-md-6 col-12 fxt-bg-img" id="vegas-slide" data-vegas-options='{"delay":5000, "timer":false,"animation":"kenburns", "transition":"swirlLeft", "slides":[{"src": "../userlogin/img/bg29-l-3.jpg"}]}'>                  
                    <div class="fxt-page-switcher">
                        <a href="/login" class="switcher-text1 active">Login</a>
                        <a href="/signup" class="switcher-text1">Register</a>
                    </div>
                </div>
                <div class="col-md-6 col-12 fxt-bg-color">
                    <div class="fxt-content">                        
                        <div class="fxt-header">
                           <h2 style="margin-left: -20px;"><a  class="navbar-brand ml-4" href="/"><b style="font-size: 35px;" id="logo" ><span style=" color: #f69323;">Mobi</span><span style="color: #000;">hub</span> </b> </a></h2>                           
                        </div>
                        <div class="fxt-form">
                            <div class="fxt-transformY-50 fxt-transition-delay-1">   
                                <h2>Log In</h2>   
                            </div>
                            <div class="fxt-transformY-50 fxt-transition-delay-2">     
                                <p>Log in to continue in our website</p>
                            </div>
                            <form action="/login" method="POST">
                                <div class="form-group">                                                
                                    <div class="fxt-transformY-50 fxt-transition-delay-4">                                                
                                        <input type="email" class="form-control" name="Email" placeholder="Email Address" required="required">
                                        <i class="flaticon-envelope"></i>
                                    </div>
                                </div>
                                <div class="form-group">                                                
                                    <div class="fxt-transformY-50 fxt-transition-delay-5">                                                
                                        <input type="password" class="form-control" name="Password" placeholder="Password" required="required">
                                        <i class="flaticon-padlock"></i>
                                    </div>
                                </div>
                                <div class="form-group ">
                                                                            <br>
                                              {{#if loginErr}}
                                           <p style="color: red;" class="error">{{loginErr}}</p>
                                         {{/if}}
                                    <div class="fxt-transformY-50 fxt-transition-delay-6">
                                        <div class="fxt-content-between">
                                            <button type="submit"  class="fxt-btn-fill">Log in</button></center>  
                                            
                                        </div>
                                    </div>
                                </div>
                            </form>                            
                        </div> 
                        
                    </div>
                </div>                
            </div>
        </div>
    </section>
    <!-- jquery-->

    <script src="/userlogin/js/jquery-3.5.0.min.js"></script>
    <!-- Popper js -->
    <script src="/userlogin/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/userlogin/js/bootstrap.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="/userlogin/js/imagesloaded.pkgd.min.js"></script>  
     <!-- Vegas js -->
     <script src="/userlogin/js/vegas.min.js"></script>  
    <!-- Validator js -->
    <script src="/userlogin/js/validator.min.js"></script>
    <!-- Custom Js -->
    <script src="/userlogin/js/main.js"></script>

</body>

